
@{
    ViewData["Title"] = "index";
}
<div class="row mt-3 mb-3">
    <div class="col d-flex justify-content-between align-items-center">
        <div class="searchTeamContainerInToDoPage">
            <input class="form-control searchTeam" type="search" placeholder="Search Team" onkeyup="searchTeam()" id="searchTeamInDoc" aria-label="Search">
        </div>
    </div>
</div>
<div class="row">
    <div class="col">
        <h2 style="font-family: sans-serif;margin-bottom: 25px;margin-top: 25px;" class="availableTeamsText">Available Teams</h2>
        <div class="UserMemberTeams d-flex">
        </div>
    </div>
</div>

<script src="~/js/Document.js"></script>
<script>
    $(document).ready(function () {
        SearchAvailableTeam();
    })
</script>

