@model Entities.ViewModels.DocumentViewModels.DocumentViewModel
@{
    ViewData["Title"] = "TextEditor";
}
<style>
    .ck-content img {
        width: 100px; 
        height: 100px; 
        object-fit: cover; 
        margin: 5px; 
    }

    .ck-editor__editable_inline {
        min-height: 400px;
    }
</style>
<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>CKEditor 5 Example</title>
    <!-- Replace "X.X.X" with the version you want to use -->
   <script src="https://cdn.ckeditor.com/ckeditor5/41.4.2/classic/ckeditor.js"></script>
   

  
</head>
<body>
    <form asp-action="SaveContent">

        <input asp-for="TeamId" value="@Model.TeamId" hidden />
        <input asp-for="UserId" value="@Model.UserId" hidden />
        <input asp-for="DocumentID" value="@Model.DocumentID" hidden />
        <input  asp-for="TeamName" value="@Model.TeamName" hidden/>
        
      

        <div class="form-outline mt-4">
            <input class="form-control" id="title" asp-for="Title" placeholder="Title" />
            <span asp-validation-for="Title" class="text-danger"></span>
        <div>
        <div class="mt-4">
            <textarea id="editor"  asp-for="Content" class="form-control ">
             </textarea>
             <span asp-validation-for="Content" class="text-danger"></span>
        </div>
          
        <button type="submit" class="bg-success border-0 btn-s rounded-3 mt-3 text-white p-2" >Submit</button>
    </form>
</body>
</html>
<script src="~/js/Document.js"></script>
