

@{
    ViewData["Title"] = "To Do";
}

<div class="row mt-3 mb-3">
    <div class="col d-flex justify-content-end align-items-center">
        <div class="d-flex justify-content-center align-items-center">
            <button class="btn gridViewButton" id="grid">
                Team Wise
            </button>
            <button class="btn listViewButton" id="list">
                None
            </button>
        </div>
    </div>
</div>

<div class="row">
    <!-- Add Task Modal -->
    <div class="modal fade" id="AddTaskModal" tabindex="-1" aria-labelledby="AddTaskModalLabel"
         aria-hidden="true">
        <div class="modal-dialog modal-dialog-centered">
            <div class="modal-content">
                <div class="modal-header" style="border: none;">
                    <h1 class="modal-title fs-5" id="AddTaskModalLabel">Create Task</h1>
                    <button type="button" class="btn-close" data-bs-dismiss="modal"
                            aria-label="Close"></button>
                </div>
                <div class="modal-body">
                    <div class="row">
                        <input type="hidden" id="TeamId">
                        <div class="col">
                            <div class="mb-3">
                                <label for="TaskName" class="form-label">Task Name</label>
                                <input type="text" class="form-control me-2" id="TaskName" placeholder="Enter Task Name"
                                       autocomplete="off">
                                <span class="text-danger" id="TaskNameSpan"></span>
                            </div>
                            <div class="mb-3">
                                <label for="TaskDescription" class="form-label">Task Description</label>
                                <textarea class="form-control" id="TaskDescription" rows="2" placeholder="Enter Task Description"></textarea>
                                <span class="text-danger" id="TaskDescriptionSpan"></span>
                            </div>
                            <div class="mb-3 assignedTo">
                                <label for="TaskAssignTo" class="form-label">Assign To</label>
                                <select class="form-select form-control" aria-label="Default select example" id="TaskAssignTo">
                                </select>
                                <span class="text-danger" id="TaskAssignToSpan"></span>
                            </div>
                        </div>
                    </div>
                </div>
                <div class="modal-footer" style="border: none;">
                    <div class="mt-4">
                        <a role="button" class="CancelCreateTeamButton" data-bs-dismiss="modal">Cancel</a>
                    </div>
                    <div class="mt-4">
                        <button type="button" class="addTaskButton" onclick="addTask()">Add Task</button>
                    </div>
                </div>
            </div>
        </div>
    </div>

    <partial name="/Views/PartialViews/_TaskDescriptionOffCanvas.cshtml" />

    <div class="teamsContainerInToDoPage row">
       
    </div>
</div>

<script src="~/js/Home.js"></script>
@if (TempData["IsLoginSuccessful"] != null)
{
    <script>
        const Toast = Swal.mixin({
          toast: true,
          position: 'top-start',
          showConfirmButton: false,
          timer: 3000,
          timerProgressBar: true,
          didOpen: (toast) => {
            toast.addEventListener('mouseenter', Swal.stopTimer)
            toast.addEventListener('mouseleave', Swal.resumeTimer)
          }
        })

        Toast.fire({
          icon: 'success',
          title: 'Login in successfully'
        })
    </script>
}