<div class="row mt-3 mb-3">
    <div class="col d-flex justify-content-end">
        <button type="button" class="loginButton">Create Team</button>
    </div>
</div>
<div class="row">
    <div class="col allTeamContainer">
        <button type="button" class="joinTeamButton">Join Team Join Team</button>
        <button type="button" class="joinTeamButton">Join Team Join TeamJoin Team</button>
        <button type="button" class="joinTeamButton">Join Team</button>
        <button type="button" class="joinTeamButton">Join</button>
        <button type="button" class="joinTeamButton">Join Team Join Team Join TeamJoin Team</button>
        <button type="button" class="joinTeamButton">Join Team</button>
        <button type="button" class="joinTeamButton">ABC</button>
        <button type="button" class="joinTeamButton">Join Team</button>
        <button type="button" class="joinTeamButton">Join Team</button>
    </div>
</div>
