@{
    ViewData["Title"] = "Teams";
}

<div class="row mt-3 mb-3">
    <div class="col d-flex justify-content-between align-items-center">
        <div class="searchTeamContainerInToDoPage">
            <input class="form-control searchTeam" type="search" placeholder="Search Team" onkeyup="searchTeam()" id="searchTeam" aria-label="Search">
        </div>
        <div class="d-flex justify-content-center align-items-center">
            <!-- Create Team Modal Button -->
            <button type="button" class="loginButton me-2" onclick="openCreateTeamModal()">
                Create Team
            </button>

            <!-- Create Team Modal -->
            <div class="modal fade" id="CreateTeamModal" tabindex="-1" aria-labelledby="CreateTeamModalLabel"
                 aria-hidden="true">
                <div class="modal-dialog modal-dialog-centered">
                    <div class="modal-content">
                        <div class="modal-header" style="border: none;">
                            <h1 class="modal-title fs-5" id="CreateTeamModalLabel">Create Team</h1>
                            <button type="button" class="btn-close" data-bs-dismiss="modal" aria-label="Close"></button>
                        </div>
                        <div class="modal-body">
                            <div class="row">
                                <div class="col">
                                    <div class="mb-3">
                                        <label for="TeamName" class="form-label">Team Name</label>
                                        <input type="text" class="form-control" id="TeamName" autocomplete="off"
                                               placeholder="Enter Team Name">
                                        <span class="text-danger" id="TeamNameSpan"></span>
                                    </div>
                                    <div class="mb-3">
                                        <label for="TeamDescription" class="form-label">Description</label>
                                        <textarea class="form-control" id="TeamDescription" placeholder="Enter Team Description"
                                                  rows="3"></textarea>
                                        <span class="text-danger" id="TeamDescriptionSpan"></span>
                                    </div>
                                    <div class="mb-3">
                                        <label for="AddUser" class="form-label">Add Users</label>
                                        <div class="d-flex justify-content-between align-items-center">
                                            <div style="width: -webkit-fill-available;" class="me-2">
                                                <input type="text" class="form-control" id="AddUser" autocomplete="off"
                                                       placeholder="Enter Email">
                                                <span class="text-danger" id="AddUserSpan"></span>
                                            </div>
                                            <button type="button" class="addUser" style="height: 38px;">Add</button>
                                        </div>
                                    </div>
                                    <div class="AddedUserContainer">
                                    </div>
                                </div>
                            </div>
                        </div>
                        <div class="modal-footer" style="border: none;">
                            <div class="mt-4">
                                <a data-bs-dismiss="modal" role="button" class="CancelCreateTeamButton">Cancel</a>
                            </div>
                            <div class="mt-4">
                                <button type="button" class="createTeamButton" id="CreateTeamInHomePageButton">Create</button>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
        </div>

    </div>
</div>
<div class="row">

    <!-- Join Team Modal -->
    <div class="modal fade" id="JoinTeamModal" tabindex="-1" aria-labelledby="JoinTeamModalLabel"
         aria-hidden="true">
        <div class="modal-dialog modal-dialog-centered">
            <div class="modal-content">
                <div class="modal-header" style="border: none;">
                    <h1 class="modal-title fs-5" id="JoinTeamModalLabel">Request to join Team</h1>
                    <button type="button" class="btn-close" data-bs-dismiss="modal" aria-label="Close"></button>
                </div>
                <div class="modal-body">
                    <div class="row">
                        <input type="hidden" id="ViewTeamTeamId">
                        <div class="col">
                            <div class="mb-3">
                                <label for="Name" class="form-label">Team Name</label>
                                <input type="text" class="form-control" id="Name" autocomplete="off" disabled>
                            </div>
                            <div class="mb-3">
                                <label for="Description" class="form-label">Team Description</label>
                                <textarea class="form-control" id="Description" disabled></textarea>
                            </div>
                            <div class="mb-3">
                                <label for="JoinRequestMessage" class="form-label">Your Message</label>
                                <textarea class="form-control" id="JoinRequestMessage" rows="3"></textarea>
                            </div>
                        </div>
                    </div>
                </div>
                <div class="modal-footer" style="border: none;">
                    <div class="mt-4">
                        <a data-bs-dismiss="modal" role="button" class="CancelCreateTeamButton">Cancel</a>
                    </div>
                    <div class="mt-4">
                        <a role="button" class="createTeamButton" onclick="requestToJoinTeam()" style="width: fit-content;">Send Request</a>
                    </div>
                </div>
            </div>
        </div>
    </div>
    <div class="col">
        <h2 style="font-family: sans-serif;margin-bottom: 25px;margin-top: 25px;" class="availableTeamsText">Available Teams</h2>
        <div class="allTeamContainer">
        </div>
    </div>
</div>

<script src="~/js/Home.js"></script>
<script>
    $(document).ready(function () {
    searchTeam();
    })
</script>

@if(TempData["IsLoginSuccessful"] != null)
{
<script>
    const Toast = Swal.mixin({
      toast: true,
      position: 'top-start',
      showConfirmButton: false,
      timer: 3000,
      timerProgressBar: true,
      didOpen: (toast) => {
        toast.addEventListener('mouseenter', Swal.stopTimer)
        toast.addEventListener('mouseleave', Swal.resumeTimer)
      }
    })

    Toast.fire({
      icon: 'success',
      title: 'Login in successfully'
    })
</script>
}