body {
    background-color: #ebebeb !important;
}

    body::-webkit-scrollbar {
        display: none;
    }

/* Hide scrollbar for IE, Edge and Firefox */
body {
    -ms-overflow-style: none;
    /* IE and Edge */
    /*scrollbar-width: none;*/
    /* Firefox */
}

.loginContainer {
    height: 100vh;
    display: flex;
    align-items: center;
    justify-content: center;
}

.loginDiv {
    width: 500px;
    height: fit-content;
    background-color: #ffffff;
    border-radius: 20px;
    padding: 50px;
}

.registrationDiv {
    width: 700px;
    height: fit-content;
    background-color: #ffffff;
    border-radius: 20px;
    padding: 50px;
}

.ForgotPasswordDiv {
    width: 600px;
    height: fit-content;
    background-color: #ffffff;
    border-radius: 20px;
    padding: 50px;
}

@media screen and (max-width: 576px) {
    .loginDiv, .registrationDiv, .ForgotPasswordDiv {
        width: 350px;
        padding: 15px;
    }

    .loginButton,
    .backButton {
        width: auto !important;
        height: 35px !important;
    }
}

@media screen and (max-width: 768px) and (min-width: 577px) {
    .registrationDiv {
        width: 500px;
    }
}

.loginTitle {
    font-size: 30px;
    color: #555;
}

.form-control:focus {
    border: none !important;
    box-shadow: 0 0 0 0.2rem rgba(51, 48, 0, 0.25) !important;
}

input[type=checkbox] {
    accent-color: #333;
}

.loginButton {
    font-size: 16px;
    font-weight: 500;
    color: #fff;
    line-height: 1.2;
    display: flex;
    justify-content: center;
    width: 150px;
    align-items: center;
    padding: 0 20px;
    height: 55px;
    background-color: #333;
    border-radius: 27px;
    transition: .4s;
    border: none;
}

.SendOTPButton {
    font-size: 12px;
    font-weight: 400;
    color: #333;
    line-height: 1.2;
    display: flex;
    justify-content: center;
    height: 33px;
    align-items: center;
    padding: 0 10px;
    background-color: #fff;
    border-radius: 27px;
    transition: .4s;
    border: 1px solid #333;
    text-decoration: none;
}

#Role option:hover {
    background-color: #333 !important;
}

.backButton {
    text-decoration: none;
    font-size: 16px;
    font-weight: 500;
    color: #000000;
    line-height: 1.2;
    display: flex;
    justify-content: center;
    width: 150px;
    align-items: center;
    padding: 0 20px;
    height: 55px;
    background-color: #ffffff;
    border-radius: 27px;
    transition: .4s;
    border: 1px solid #333;
    text-decoration: none;
}

.loginButton:hover {
    background-color: #4fd355;
    border: none;
}

.backButton:hover {
    color: #ffffff;
    background-color: #333;
}

.SendOTPButton:hover {
    color: #ffffff;
    background-color: #333;
}

.mainPageTitle {
    font-family: Verdana, Geneva, Tahoma, sans-serif;
    font-size: 2.5rem;
    font-weight: 500;
    color: #1a1a1a;
}

/* Home Page */
.homepageContent {
    flex-grow: 1;
    display: flex;
    align-items: center;
    justify-content: center;
}

/*nav {
    border-bottom: 1px solid rgb(212, 212, 212);
    height: 50px;
}*/

.userAvatar {
    height: 29px;
    width: 29px;
    border-radius: 50%;
}

.notificationContainer {
    position: relative;
}

.notificationDropdown {
    top: 30px !important;
    left: -440px !important;
    overflow: scroll;
    height: fit-content;
    max-height: 400px;
    -ms-overflow-style: none;
    padding-bottom: 0px !important;
}

@media screen and (max-width: 767px) {
    .notificationDropdown {
        top: 30px !important;
        left: -340px !important;
        overflow: scroll;
        height: fit-content;
        max-height: 400px;
        -ms-overflow-style: none;
    }
}

@media screen and (max-width: 575px) {
    .notificationDropdown {
        top: 30px !important;
        left: -240px !important;
        overflow: scroll;
        height: fit-content;
        max-height: 400px;
        -ms-overflow-style: none;
    }
}

@media screen and (max-width: 510px) {
    .notificationDropdown {
        top: 30px !important;
        left: -200px !important;
        overflow-y: scroll;
        overflow-x: scroll;
        width: 300px !important;
        height: fit-content;
        max-height: 400px;
        -ms-overflow-style: none;
    }

    .dropRow {
        padding-left: 3px !important;
        width: 100%;
        white-space: nowrap;
        overflow: hidden;
        text-overflow: ellipsis;
    }
}

@media screen and (max-width: 450px) {
    .notificationDropdown {
        top: 30px !important;
        left: -75px !important;
        overflow-y: scroll;
        overflow-x: scroll;
        width: 250px !important;
        height: fit-content;
        max-height: 400px;
        -ms-overflow-style: none;
    }

    .dropRow {
        padding-left: 3px !important;
        width: 100%;
        white-space: nowrap;
        overflow: hidden;
        text-overflow: ellipsis;
    }
}


.notificationSettingDropdown li {
    height: 30px !important;
}

    .notificationSettingDropdown li:hover {
        background-color: #f3f3f3;
    }

.notificationDropdown::-webkit-scrollbar {
    display: none;
}

.noNotification {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    padding: 50px 0px 50px 0px;
    height: inherit !important;
    width: inherit !important;
}

    .noNotification p {
        font-size: 1.2rem
    }

.notificationDropdown li {
    height: 3rem;
    display: flex;
    align-items: center;
    justify-content: space-between;
    padding-left: 16px;
    padding-right: 16px;
}

    .notificationDropdown li .dot {
        background-color: #dc3545;
        border-radius: 50%;
        height: 12px;
        width: 12px;
    }

.breakNotificationList {
    display: flex;
    justify-content: center;
    align-items: center;
    height: 30px;
}

.firstRowNotification a {
    text-decoration: none;
}

.notificationDot {
    position: absolute;
    background-color: #dc3545;
    bottom: 15px;
    border-radius: 50%;
    left: 13px;
    height: 16px;
    width: 16px;
}

    .notificationDot p {
        color: white;
        display: flex;
        align-items: center;
        justify-content: center;
        font-size: 0.7rem;
        padding-bottom: 1px;
        font-weight: bold;
    }

.joinTeamButton {
    font-size: 25px;
    font-weight: 500;
    color: #333;
    line-height: 1.2;
    display: flex;
    justify-content: center;
    width: fit-content;
    align-items: center;
    padding: 0 50px;
    height: 100px;
    background-color: #fff;
    border-radius: 70px;
    transition: .4s;
    margin: 20px;
    border: 2px solid #333;
    text-decoration: none;
}

    .joinTeamButton:hover {
        color: #fff;
        background-color: #333;
    }

.allTaskButton {
    border: 2px solid #333 !important;
    border-radius: 15px !important;
    height: 100%;
}

@media screen and (max-width: 450px) {
    .joinTeamButton {
        font-size: 16px;
        font-weight: 500;
        width: fit-content;
        align-items: center;
        padding: 0 20px;
        height: 55px;
        border-radius: 27px;
        border: 1px solid #333;
        margin: 20px !important;
    }

    .requestSendButton {
        font-size: 16px !important;
        font-weight: 500;
        width: fit-content;
        align-items: center;
        padding: 0 20px !important;
        height: 55px !important;
        background-color: #fff;
        border-radius: 27px;
        margin: 20px;
        cursor: default !important;
    }
}

.allTeamContainer {
    display: flex;
    width: 100%;
    flex-wrap: wrap;
}

.requestSendButton {
    color: #c2c2c2;
    border: 2px solid #c2c2c2;
    font-size: 25px;
    font-weight: 500;
    line-height: 1.2;
    display: flex;
    justify-content: center;
    width: fit-content;
    align-items: center;
    padding: 0 50px;
    height: 100px;
    background-color: #fff;
    border-radius: 70px;
    transition: .4s;
    margin: 20px;
    text-decoration: none;
    cursor: default !important;
}

/* All Team Page CSS */
.teamContainer {
    background-color: #ebebeb;
    border-radius: 15px;
    padding: 15px;
    margin-bottom: 35px;
}

.teamName {
    font-size: 25px;
    font-weight: 500;
    color: #333;
}

.threeDotButton {
    font-size: 25px;
    font-weight: 500;
    color: #333;
    line-height: 1.2;
    display: flex;
    justify-content: center;
    align-items: center;
    background-color: #fff;
    border-radius: 50%;
    transition: .4s;
    border: 0.5px solid #333;
    padding: 3px;
}

.allTasksContainer {
    overflow-y: scroll;
    max-height: 550px;
    height: fit-content;
}

    .allTasksContainer::-webkit-scrollbar {
        display: none;
    }

/* Hide scrollbar for IE, Edge and Firefox */
.allTasksContainer {
    -ms-overflow-style: none;
    /* IE and Edge */
    /*scrollbar-width: none;*/
    /* Firefox */
}

.oneUserTasksContainer {
    background-color: #ffffff;
    padding: 10px;
    border-radius: 10px;
}

.taskList {
    padding-left: 25px;
}

    .taskList li {
        border-radius: 10px;
        padding: 0px 3px 0px 3px;
    }

        .taskList li div {
            margin: 8px 0px 8px 0px;
            border-bottom: 1px dotted #333;
            padding-bottom: 5px;
            margin-bottom: 15px;
            width: 100%;
            display: flex;
            justify-content: space-between;
            align-items: center;
        }

        .taskList li:hover {
            background-color: #ebebeb;
        }

.createTeamButton, .addTaskButton {
    text-decoration: none;
    font-size: 15px;
    font-weight: 500;
    color: #ffffff;
    line-height: 1.2;
    display: flex;
    justify-content: center;
    min-width: 110px;
    width: fit-content;
    align-items: center;
    padding: 0 17px;
    height: 45px;
    background-color: #333;
    border-radius: 27px;
    transition: .4s;
    border: 1px solid #333;
}

.addUser, .addUserInTeam {
    text-decoration: none;
    font-size: 15px;
    font-weight: 500;
    line-height: 1.2;
    display: flex;
    justify-content: center;
    width: 110px;
    align-items: center;
    padding: 0 17px;
    height: 38px;
    background-color: #ffffff;
    border-radius: 27px;
    transition: .4s;
    border: 1px solid #333;
}

.addUser, .addUserInTeam:hover {
    background-color: #333;
    color: #ffffff;
}

.createTeamButton:hover {
    background-color: #4fd355;
    border-radius: 27px;
    transition: .4s;
    border: 1px solid #4fd355;
}

.CancelCreateTeamButton {
    text-decoration: none;
    font-size: 15px;
    font-weight: 500;
    color: #000000;
    line-height: 1.2;
    display: flex;
    justify-content: center;
    width: 110px;
    align-items: center;
    padding: 0 17px;
    height: 45px;
    background-color: #ffffff;
    border-radius: 27px;
    transition: .4s;
    border: 1px solid #333;
}

    .CancelCreateTeamButton:hover {
        background-color: #333;
        border-radius: 27px;
        transition: .4s;
        border: 1px solid #333;
        color: #ffffff;
    }

.userListRow {
    background-color: #ebebeb;
    margin-bottom: 15px;
    border-radius: 15px;
    padding: 10px;
}

.removeButton {
    border: 1px solid #333;
    border-radius: 15px;
    padding: 0px 7px 0px 7px !important;
    background-color: #ffffff;
    transition: .4s;
    font-size: 13px;
}

    .removeButton:hover {
        border: 1px solid #fd4d4d;
        background-color: #fd4d4d;
        color: #ffffff;
    }

.searchTeam {
    height: 50px;
    width: 150% !important;
    border-radius: 30px !important;
}

@media screen and (max-width: 576px) {
    .allTaskButton {
        height: 35px;
        padding: 0px 12px 0px 12px !important;
    }

    .searchTeam {
        height: 35px;
        width: 100% !important;
        border-radius: 20px !important;
    }
}

.AddedUser, .AddedUserInTeam {
    background-color: #c2c2c2;
    border-radius: 20px;
    display: flex;
    align-items: center;
    justify-content: center;
    width: fit-content;
    padding: 3px 8px 3px 8px;
}

    .AddedUser, .AddedUserInTeam a {
        text-decoration: none;
        color: #000000;
    }

/* All TAsk Page */
.accordionItem {
    margin: 10px 0px 10px 0px;
}

/* USER PROFILE */

.userProfileBox {
    border-radius: 10px;
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: space-evenly;
    height: 230px;
    width: auto;
    background-color: #ffffff;
}

    .userProfileBox img {
        border-radius: 50%;
        width: 100px;
        height: 100px;
    }

.imageContainer {
    border-radius: 50%;
    width: auto;
    height: auto;
}

.userProfileFormTitle {
    font-weight: 450;
    font-size: 1.5em;
    padding-bottom: 10px;
    border-bottom: 2px solid #000000;
    width: fit-content;
}

.userSaveBtnContainer {
    display: flex;
    align-items: center;
    justify-content: flex-end;
}

@media screen and (max-width: 767px) {
    #formContainer {
        width: 100%;
    }

    .userProfileBox img {
        border-radius: 50%;
        width: 75px;
        height: 75px;
    }

    .userProfileBox {
        border: 1px solid #D9D9D9;
        border-radius: 5px;
        display: flex;
        flex-direction: column;
        align-items: center;
        justify-content: space-evenly;
        height: 175px;
        width: auto;
    }
}

#selectProfileImage {
    position: absolute;
    opacity: 0;
    right: 0;
    padding-top: 1rem;
    border-radius: 50%;
    height: 100%;
    width: 100%;
}

.profileImageContainer {
    position: relative;
}

.leaveTeamsButton {
    text-decoration: none;
    font-size: 15px;
    font-weight: 500;
    color: #ffffff;
    line-height: 1.2;
    display: flex;
    justify-content: center;
    align-items: center;
    padding: 0 17px;
    height: 45px;
    background-color: #fd4d4d;
    border-radius: 27px;
    transition: .4s;
    border: 1px solid #fd4d4d;
}

.ListOfTeams {
    display: flex;
    align-items: center;
    justify-content: space-between;
    background-color: #ebebeb;
    border-radius: 20px;
    padding: 8px 15px 8px 15px;
    margin: 0px 0px 15px 0px;
}

    .ListOfTeams p {
        font-weight: 500;
        font-family: sans-serif;
        font-size: 17px;
    }

.leaveTeamSmallButton {
    text-decoration: none;
    font-size: 13px;
    font-weight: 500;
    color: #fd4d4d;
    display: flex;
    justify-content: center;
    align-items: center;
    padding: 0 12px;
    height: 30px;
    background-color: #ffffff;
    border-radius: 27px;
    transition: .4s;
    border: 1px solid #fd4d4d;
}

    .leaveTeamSmallButton:hover {
        color: #ffffff;
        background-color: #fd4d4d;
    }

#calendar {
    margin: 20px auto;
}

.fc-daygrid-day-number, .fc-col-header-cell-cushion {
    color: #000000 !important;
    text-decoration: none !important;
}

.todayButton {
    background-color: rgb(255 255 255) !important;
    color: rgb(0, 0, 0) !important;
    border-radius: 20px !important;
    width: 80px !important;
}

.fc-event{
    border-radius: 10px !important;
    padding-left: 5px !important;
}

/* Team Management */
@media screen and (max-width: 576px) {
    #UserName {
        display: none;
    }
}

.approveButton {
    border: 1px solid #333;
    border-radius: 15px;
    padding: 0px 7px 0px 7px !important;
    background-color: #ffffff;
    transition: .4s;
    font-size: 13px;
}

    .approveButton:hover {
        border: 1px solid #4fd355;
        background-color: #4fd355;
        color: #ffffff;
    }

.reportingPersonButton {
    border: 1px solid #333;
    border-radius: 15px;
    padding: 0px 7px 0px 7px !important;
    background-color: #ffffff;
    transition: .4s;
    font-size: 13px;
}

    .reportingPersonButton:hover {
        border: 1px solid #ffbb33;
        background-color: #ffbb33;
        color: #ffffff;
    }

.teamMemberAvatar {
    height: 24px;
    width: 24px;
    border-radius: 50%;
}

.form-check-input:checked {
    background-color: #333 !important;
    border-color: #333 !important;
}

.selectReportingPerson {
    overflow-y: scroll;
    max-height: 400px;
    height: fit-content;
    padding: 0px 0px 0px 15px;
}

.selectReportingPerson::-webkit-scrollbar {
    display: none;
}

/* Hide scrollbar for IE, Edge and Firefox */
.selectReportingPerson {
    -ms-overflow-style: none;
    /* IE and Edge */
    /*scrollbar-width: none;*/
    /* Firefox */
}

.TaskList{
    list-style-type: none;
}

.taskContainer {
    padding: 2px 5px 2px 5px;
    margin: 5px 0px 5px 0px;
    border-radius: 10px;
}

    .taskContainer:hover {
        background-color: #ebebeb;
        cursor: pointer;
    }

.taskDescription {
    text-align: justify;
    padding-right: 10px !important;
}

.taskNameContainer{
    display: flex;
    align-items: center;
    justify-content: flex-start;
    border-bottom: dotted;
    border-width: 1px;
}

.taskDetailContainer {
    background-color: #ffffff;
    border-radius: 20px;
    height: fit-content;
    padding: 25px;
}

.completeTaskButton {
    text-decoration: none;
    font-size: 15px;
    font-weight: 500;
    color: #ffffff;
    line-height: 1.2;
    display: flex;
    justify-content: center;
    align-items: center;
    padding: 0 17px;
    height: 45px;
    background-color: #4fd355;
    border-radius: 27px;
    border: 1px solid #4fd355;
}

.inCompleteTaskButton {
    text-decoration: none;
    font-size: 15px;
    font-weight: 500;
    color: #ffffff;
    line-height: 1.2;
    display: flex;
    justify-content: center;
    align-items: center;
    padding: 0 17px;
    height: 45px;
    background-color: #ffbb33;
    border-radius: 27px;
    border: 1px solid #ffbb33;
}

.leaveTeamButton {
    text-decoration: none;
    font-size: 13px;
    font-weight: 500;
    color: #ffffff;
    line-height: 1.2;
    display: flex;
    justify-content: center;
    align-items: center;
    padding: 0 17px;
    height: 30px;
    background-color: #fd4d4d;
    border-radius: 20px;
    transition: .4s;
    border: 1px solid #fd4d4d;
    margin-right: 5px;
}

.taskRowInAllTask {
    padding: 4px;
}

    .taskRowInAllTask:hover {
        background-color: #ebebeb;
        border-radius: 20px;
    }

.filterRow {
    display: flex;
    flex-wrap: wrap;
    align-items: center;
}

.filterTag {
    display: flex;
    justify-content: space-evenly;
    align-items: center;
    margin: 10px;
    padding-left: 10px;
    padding-right: 10px;
    border: 1px solid #D9D9D9;
    border-radius: 10px;
    font-size: 14px;
}

    .filterTag img {
        height: 10px;
        width: 10px;
        margin: 0px 0px 0px 8px;
    }

#clearAll {
    text-decoration: none;
    color: black;
}

.btn-check:checked + .btn, .btn.active, .btn.show, .btn:first-child:active, :not(.btn-check) + .btn:active {
    color: var(--bs-btn-active-color);
    background-color: #555 !important;
    border-color: #555 !important;
}

.btn-outline-primary {
    --bs-btn-color: black !important;
    --bs-btn-border-color: black !important;
}

.fc-daygrid-more-link{
    color: black !important;
}

.filterTag a {
    display: flex;
    justify-content: center;
    align-items: center;
}

.dropRow {
    padding-left: 3px !important;
    width: 100%;
    display: flex;
    flex-wrap: wrap;
    padding-right: 3px !important;
}

.form-select option {
    background-color: #d3d3d3;
    color: #000000;
}