<div class="offcanvas offcanvas-end" tabindex="-1" id="TaskDetailOffCanvas"
     aria-labelledby="offcanvasRightLabel" style="width: 500px;background-color: #ebebeb;z-index: 10000">
    <div class="offcanvas-header">
        <h5 class="offcanvas-title" id="offcanvasRightLabel">Task Detail</h5>
        <button type="button" class="btn-close closeTaskDetailOffCanvas" data-bs-dismiss="offcanvas" aria-label="Close"></button>
    </div>
    <div class="offcanvas-body ">
        <div class="taskDetailContainer">
            <div class="row">
                <input type="hidden" id="TaskIdInOffcanvas">
                <div class="col">
                    <p class="h4 mb-3" id="TeamNameInOffcanvas">Team Anand</p>
                    <div class="mb-3">
                        <label for="TaskNameInOffcanvas" class="form-label">Task Name</label>
                        <input type="text" class="form-control" id="TaskNameInOffcanvas">
                        <span class="text-danger" id="TaskNameInOffcanvasSpan"></span>
                    </div>
                    <div class="mb-3">
                        <label for="TaskDescriptionInOffcanvas" class="form-label">Task Description</label>
                        <textarea class="form-control" id="TaskDescriptionInOffcanvas" style="height: 170px"></textarea>
                    </div>
                    <div>
                        <div class="row">
                            <div class="col-6">
                                <div class="mb-3">
                                    <label for="StartDateInOffcanvas" class="form-label">Start Date</label>
                                    <input type="date" class="form-control" id="StartDateInOffcanvas" disabled>
                                    <span class="text-danger" id="StartDateInOffcanvasSpan"></span>
                                </div>
                            </div>
                            <div class="col-6">
                                <div class="mb-3">
                                    <label for="EndDateInOffcanvas" class="form-label">End Date</label>
                                    <input type="date" class="form-control" id="EndDateInOffcanvas">
                                    <span class="text-danger" id="EndDateInOffcanvasSpan"></span>
                                </div>
                            </div>
                        </div>
                    </div>
                    <div class="row mt-3">
                        <div class="col-6">
                            <div class="btn-group" role="group" aria-label="Basic radio toggle button group">
                                <input type="radio" class="btn-check" name="TaskStatusInOffcanvas" id="TaskCompleteInOffcanvas" value=true autocomplete="off">
                                <label class="btn btn-outline-primary" for="TaskCompleteInOffcanvas">Complete</label>

                                <input type="radio" class="btn-check" name="TaskStatusInOffcanvas" id="TaskIncompleteInOffcanvas" value=false autocomplete="off">
                                <label class="btn btn-outline-primary" for="TaskIncompleteInOffcanvas">Incomplete</label>
                            </div>
                        </div>
                        <div class="col-6 d-flex justify-content-end align-align-items-center">
                            <button type="submit" class="saveEditedTaskButton" onclick="editTask()" style="height: 38px;">Save</button>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </div>
</div>

