<div class="ForgotPasswordDiv">
    <p class="loginTitle">Reset Password</p>
    <form method="post">
        <div class="mb-3">
            <label for="Email" class="form-label">Email</label>
            <input type="text" class="form-control" id="Email" readonly>
            <span class="text-danger" id="EmailSpan"></span>
        </div>
        <div class="mb-3">
            <label for="Password" class="form-label">Old Password</label>
            <input type="password" class="form-control" id="OldPassword">
            <span class="text-danger" id="OldPasswordSpan"></span>
        </div>
        <div class="mb-3">
            <label for="ComfirmPassword" class="form-label">New Password</label>
            <input type="password" class="form-control" id="NewPassword">
            <span class="text-danger" id="NewPasswordSpan"></span>
        </div>
        <div class="row">
            <div class="col">
                <div class="d-flex justify-content-between align-items-center">
                    <div class="mt-4">
                        <a role="button" class="backButton" onclick="backToForgotPasswordView()">Cancel</a>
                    </div>
                    <div class="mt-4">
                        <button type="button" class="loginButton" onclick="ChangePassword()">Change Password</button>
                    </div>
                </div>
            </div>
        </div>
    </form>
</div>