<div class="ForgotPasswordDiv">
    <p class="loginTitle">Reset Password</p>
    <form method="post">
        <div class="mb-3">
            <label for="Password" class="form-label">Password</label>
            <input type="password" class="form-control" id="Password">
            <span class="text-danger" id="PasswordSpan"></span>
        </div>
        <div class="mb-3">
            <label for="ComfirmPassword" class="form-label">Comfirm Password</label>
            <input type="password" class="form-control" id="ComfirmPassword">
            <span class="text-danger" id="ComfirmPasswordSpan"></span>
        </div>
        <div class="row">
            <div class="col">
                <div class="d-flex justify-content-between align-items-center">
                    <div class="mt-4">
                        <a role="button" class="backButton" onclick="backToForgotPasswordView()">Cancel</a>
                    </div>
                    <div class="mt-4">
                        <button type="button" class="loginButton">Change Password</button>
                    </div>
                </div>
            </div>
        </div>
    </form>
</div>